# =====================
# Virtual Environment
# =====================
.venv
.venv/
venv/

# =====================
# Environment Variables
# =====================
.env
.env.*
!.env.example

# =====================
# Django stuff
# =====================
db.sqlite3

# =====================
# Editor
# =====================
.vscode/

# =====================
# Static / media
# =====================
media/
staticfiles/
